---
import Layout from "../layouts/Layout.astro";

export const prerender = true;

export async function getStaticPaths() {
  const resp = await fetch(
    "https://public-api.wordpress.com/rest/v1.1/sites/ukfost.wordpress.com/posts/"
  );
  let data = await resp.json();

  return data.posts.map((post) => ({
    params: { slug: post.slug },
    props: { post: post },
  }));
}

const { post } = Astro.props;
---

<Layout title={post.title + " | UK Friends of Standing Together"}>
  <main>
    <h1 set:html={post.title} />
    <div set:html={post.content} />
  </main>
</Layout>

<style>
  main {
    max-width: min(var(--max-w), 600px);
    margin: 16px auto;
    padding: 8px;
  }
</style>
<style is:global>
  @media (max-width: 600px) {
    .wp-block-embed-twitter,
    .wp-block-embed-instagram {
      max-width: calc(100vw - 16px);
      margin: 0px;
    }
  }
  .wp-block-embed.is-type-rich.is-provider-embed-handler.wp-block-embed-embed-handler {
    margin: 0px;
  }
  .youtube-player {
    max-width: calc(100vw - 16px);
  }
  iframe {
    max-width: 100%;
  }
  html {
    background: white;
  }
  figure {
    margin: 0;
  }
  .wp-block-embed.is-type-wp-embed.is-provider-the-point-magazine.wp-block-embed-the-point-magazine
    iframe {
    position: unset !important;
    clip: auto !important;
    width: 100%;
  }
</style>
