---
import Layout from "../layouts/Layout.astro";

export const prerender = true;

export async function getStaticPaths() {
  const resp = await fetch(
    "https://public-api.wordpress.com/rest/v1.1/sites/ukfost.wordpress.com/posts/"
  );
  let data = await resp.json();

  return data.posts.map((post) => ({
    params: { slug: post.slug },
    props: { post: post },
  }));
}

const { post } = Astro.props;
---

<Layout title={post.title + " | UK Friends of Standing Together"}>
  <main>
    <h1 set:html={post.title} />
    <div set:html={post.content} />
  </main>
</Layout>

<style>
  main {
    max-width: min(var(--max-w), 600px);
    margin: 16px auto;
    padding: 8px;
  }
  @media (max-width: 600px) {
    :global(.wp-block-embed-twitter, .wp-block-embed-instagram) {
      max-width: calc(100vw - 8px);
      margin: 0px;
    }
  }
</style>
