---
import Layout from "../layouts/Layout.astro";

export const prerender = true;
---

<Layout title={"About | UK Friends of Standing Together"}>
  <main>
  </main>
</Layout>

<style>
    main {
        max-width: min(var(--max-w), 600px);
        margin: 16px auto;
    }
</style>
