---
import Layout from "../layouts/Layout.astro";

export const prerender = true;
---

<Layout title="About | UK Friends of Standing Together">
  <main>
    <h1>About UK Friends of Standing Together</h1>
    <div
      class="entry-content wp-block-post-content has-global-padding is-layout-constrained wp-block-post-content-is-layout-constrained"
    >
      <div>
        There has never been a greater need for a grassroots movement mobilising
        Jewish and Palestinian citizens of Israel in pursuit of real democracy:
        full equality for all, including an equal right to self-determination.
      </div>
      <div>
        <div>
          <div>
            <p>
              Unending and increasingly violent occupation, accelerated and
              deepened by the most right-wing government has ever seen, has fed
              violence, fear, and hatred between Israelis and Palestinians.
              Social and economic inequality is widening. Israel’s Palestinian
              minority faces increasing discrimination. Women, Mizrahi Jews,
              immigrants, the LGBTQ+ community and others are increasingly
              marginalised — socially, economically, and politically.
            </p>
            <p>
              Based on the rhetoric actions of the current government, we may
              well see moves to formally annex the West Bank and revoke the
              citizenship of hundreds of thousands of Palestinian citizens of
              Israel.
            </p>
            <p>
              And yet there is a growing movement which offers hope, in spite of
              the electoral decimation of Israel’s left parties. <a
                href="https://www.standing-together.org/en"
                target="_blank"
                rel="noopener">Standing Together</a
              > (עומדים ביחד نقف معًا), Israel’s fastest-growing grassroots movement
              over recent years, is uniting Jews and Palestinians within Israel to
              fight for an equal and just society, building a broad coalition of
              diverse communities – Jewish and Arab; Mizrahi and Ashkenazi; people
              of all genders; secular and religious; rural and urban.
            </p>
            <p>
              It organised the first <a
                href="https://www.haaretz.com/opinion/editorial/2023-01-09/ty-article-opinion/.premium/big-tent-protest/00000185-9320-d94b-ad8d-bfe78aa50000"
                target="_blank"
                rel="noopener">demonstration for democracy</a
              > in Tel Aviv in January 2023, but unlike some involved in the democracy
              movement, it believes in democracy and equality for all Israel’s citizens.
              Along with other anti-occupation activists, it has raised the need
              to make the struggle for Israeli democracy a struggle against occupation.
            </p>
            <p>
              We are launching <strong>UK Friends of Standing Together</strong> in
              solidarity with that movement, to promote its aims, principles and
              campaigns and to provide financial and practical support.
            </p>
            <p dir="auto">We will:</p>
            <ul>
              <li>
                Promote in the UK, amongst all those who support peace,
                equality, and justice in Israel and Palestine, the benefits of
                joint struggle by Jews and Palestinians.
              </li>
              <li>
                Campaign in the UK for peace, justice, and equality for Israelis
                and Palestinians – Jews and Arabs – including an equal right to
                self-determination, and for the full equality of Palestinian
                citizens of Israel.
              </li>
              <li>
                Raise money to support the work of Standing Together in Israel.
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </main>
</Layout>

<style>
  main {
    max-width: min(var(--max-w), 600px);
    margin: 16px auto;
  }
</style>
