---
import Layout from "../layouts/Layout.astro";
import Post from "../components/Post.astro";
import { getPosts } from "../utils/api";

export const prerender = true;

const posts = await getPosts();
---

<Layout title="UK Friends of Standing Together | All Posts">
  <main>
    <div id="posts">
      <h2>All articles</h2>
      {
        posts
          .filter((post) => post.slug != "about" && post.slug != "take-action")
          .map((post) => <Post data={post} />)
      }
    </div>
  </main>
</Layout>

<style>
  #posts {
    padding-inline: 8px;
    max-width: 700px;
    margin-bottom: 38px;
  }
  main {
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  #posts {
    padding-top: 18px;
  }
</style>
