---
import Layout from "../layouts/Layout.astro";
import Twitter from "../components/Twitter.astro";
import Post from "../components/Post.astro";
import NewsletterForm from "../components/NewsletterForm.astro";

export const prerender = true;

const resp = await fetch(
  "https://public-api.wordpress.com/rest/v1.1/sites/ukfost.wordpress.com/posts/"
);
const data = await resp.json();
---

<Layout title="UK Friends of Standing Together">
  <main>
    <NewsletterForm />
    <div id="actions">
      <a id="about" data-button href="/about">About</a>
      <a
        id="donate"
        target="_blank"
        data-button
        href="https://www.standing-together.org/donatehere"
      >
        Donate to Standing Together
      </a>
      <a
        id="standing-together"
        data-button
        href="https://www.standing-together.org/en">Standing Together</a
      >
    </div>
    <div id="grid">
      <div id="posts">
        <h2>Latest articles</h2>
        {data.posts.map((post) => <Post data={post} />)}
      </div>
      <Twitter username="omdimbeyachadUK" />
      <Twitter username="omdimbeyachad" />
    </div>
  </main>
</Layout>

<style>
  #actions {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 8px;
    background-color: var(--dark-purple);
    margin-inline: 4px;
    padding: 8px;
  }
  @media (min-width: 400px) {
    #actions {
      flex-direction: row;
    }
  }
  #actions a {
    font-size: 22px;
  }
  #about {
    background-color: var(--blue);
  }
  #standing-together {
    background-color: var(--pink);
  }
  #posts {
    grid-area: posts;
  }
  main {
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  #grid {
    display: grid;
    row-gap: 8px;
    column-gap: 16px;
    align-self: center;
    max-width: var(--max-w);
    padding: 5px;
    grid-template:
      "posts" auto
      "right1" auto
      "right2" auto / 1fr;
  }
  @media (min-width: 800px) {
    #grid {
      grid-template:
        "posts right1" auto
        "posts right2" auto / 1fr 500px;
    }
  }
</style>
