---
import Layout from "../layouts/Layout.astro";
import Twitter from "../components/Twitter.astro";
import Post from "../components/Post.astro";
import NewsletterForm from "../components/NewsletterForm.astro";

export const prerender = true;

const resp = await fetch(
  "https://public-api.wordpress.com/rest/v1.1/sites/ukfost.wordpress.com/posts/"
);
const data = await resp.json();
---

<Layout title="UK Friends of Standing Together">
  <main>
    <NewsletterForm />
    <div id="actions">
      <a id="about" data-button href="/about">About</a>
      <a
        id="donate"
        target="_blank"
        data-button
        href="https://www.standing-together.org/donatehere"
      >
        Donate to Standing Together
      </a>
      <a
        id="standing-together"
        data-button
        href="https://www.standing-together.org/en">Standing Together</a
      >
    </div>
    <div id="summary">
      <h2>
        Supporting Israel's Arab-Jewish social movement for peace and equality
      </h2>
    </div>
    <div id="posts">
      <h2>Latest articles</h2>
      {
        data.posts
          .filter((post) => post.slug != "about")
          .map((post) => <Post data={post} />)
      }
    </div>
  </main>
</Layout>

<style>
  #actions {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 8px;
    background-color: var(--dark-purple);
    width: 100%;
    padding: 8px;
  }
  #summary,
  #posts {
    padding-inline: 8px;
  }
  @media (min-width: 400px) {
    #actions {
      flex-direction: row;
    }
  }
  #actions a {
    font-size: 22px;
  }
  #about {
    background-color: var(--blue);
  }
  #standing-together {
    background-color: var(--pink);
  }
  #posts {
    max-width: 700px;
    margin-bottom: 38px;
  }
  main {
    display: flex;
    align-items: center;
    flex-direction: column;
  }
</style>
