---
import Layout from "../layouts/Layout.astro";
import Post from "../components/Post.astro";
import NewsletterForm from "../components/NewsletterForm.astro";
import { getPosts } from "../utils/api";

export const prerender = true;

const posts = await getPosts();
---

<Layout title="UK Friends of Standing Together">
  <main>
    <NewsletterForm />
    <div id="actions">
      <a id="about" data-button href="/about">About</a>
      <a
        id="donate"
        target="_blank"
        data-button
        href="https://www.standing-together.org/friends"
      >
        Join Friends of Standing Together
      </a>
      <a
        id="standing-together"
        data-button
        href="https://www.standing-together.org/en">Standing Together</a
      >
    </div>
    <div id="summary">
      <h2>
        Supporting Israel's Arab-Jewish social movement for peace and equality
      </h2>
    </div>
    <div id="posts">
      <h2>Latest articles</h2>
      {
        posts
          .filter((post) => post.slug != "about")
          .slice(0, 8)
          .map((post) => <Post data={post} />)
      }
      <div id="more">
        <a href="/all" data-button>More articles...</a>
      </div>
    </div>
  </main>
</Layout>

<style>
  #actions {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 8px;
    background-color: var(--dark-purple);
    width: 100%;
    padding: 8px;
    text-align: center;
  }
  #summary,
  #posts {
    padding-inline: 8px;
  }
  @media (min-width: 700px) {
    #actions {
      flex-direction: row;
    }
  }
  #actions a {
    font-size: 22px;
  }
  #about {
    background-color: var(--blue);
  }
  #standing-together {
    background-color: var(--pink);
  }
  #posts {
    max-width: 700px;
    margin-bottom: 38px;
  }
  main {
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  #more {
    display: flex;
    justify-content: center;
  }
  #more a {
    text-align: right;
    background-color: var(--dark-purple);
  }
</style>
<script>
  const urlParams = new URLSearchParams(window.location.search);
  const thanks = urlParams.get("thanks");
  if (thanks) {
    alert("Thanks for volunteering! We will be in touch.");
    window.location.search = "";
  }
</script>
