---
import Layout from "../layouts/Layout.astro";
import ActionNetworkForm from "../components/ActionNetworkForm.astro";

export const prerender = true;
---

<Layout title="UK Friends of Standing Together | Volunteer">
  <main>
    <ActionNetworkForm />
  </main>
</Layout>

<style>
  main {
    flex-grow: 1;
    display: flex;
    align-items: center;
    flex-direction: column;
  }
</style>
