---
---

<style>
  .banner {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: linear-gradient(
        rgba(71, 11, 61, 0.63),
        rgba(71, 11, 61, 0.63)
      ),
      url("/banner.jpg");
    background-size: cover;
    width: 100%;
    min-height: 300px;
    color: white;
    position: relative;
  }
  #can-form-area-sign-up-to-our-newsletter-16 {
    max-width: 560px;
    margin-top: 24px;
  }
  .privacy-and-data-handling-policy {
    color: lightgrey;
    font-size: 0.8rem;
  }
</style>

<link
  href="https://actionnetwork.org/css/style-embed-v3.css"
  rel="stylesheet"
  type="text/css"
/>
<script
  is:inline
  src="https://actionnetwork.org/widgets/v5/form/sign-up-to-our-newsletter-16?format=js&source=widget"
></script>
<div class="banner">
  <div id="can-form-area-sign-up-to-our-newsletter-16">
    <!-- this div is the target for our HTML insertion -->
  </div>
  <p class="privacy-and-data-handling-policy">
    <a
      href="https://docs.google.com/document/d/1RpbcY3d8eUldY5pFsJPgRR6GxGlvE-sKypJPec4i_cQ/"
      >Privacy and Data-Handling Policy</a
    >
  </p>
</div>
