---
---

<style>
  footer {
    background-color: var(--dark-purple);
    color: white;
    padding: 20px;
    margin-top: 20px;
    margin-top: auto;
  }
  /* bottom: 0px;
    left: 0px;
    right: 0px; */
  /* position: absolute; */
  footer div {
    display: flex;
    justify-content: center;
  }
</style>

<footer>
  <div>
    <span
      >ukfriendsofstandingtogether@gmail.com<span>
        <span
          >|<span>
            <span
              ><a href="https://www.standing-together.org/en"
                >standing-together.org<span> </span>
              </a></span
            ></span
          ></span
        ></span
      ></span
    >
  </div>
  <div>
    <span
      ><span
        ><a href="https://twitter.com/omdimbeyachadUK">@omdimbeyachadUK</a
        ></span
      > |<span>
        <span
          ><a href="https://twitter.com/omdimbeyachad">@omdimbeyachad</a></span
        >
      </span>
    </span>
  </div>
</footer>
