---
---

<style>
  footer {
    background-color: var(--dark-purple);
    color: white;
    padding: 20px;
    margin-top: 20px;
    /* bottom: 0px;
    left: 0px;
    right: 0px; */
    /* position: absolute; */
    display: flex;
    justify-content: center;
    margin-top: auto;
  }
</style>

<footer>
  <span
    >ukfriendsofstandingtogether@gmail.com<span>
      <span
        >|<span>
          <span
            ><a href="https://www.standing-together.org/en"
              >standing-together.org<span> </span>
            </a></span
          ></span
        ></span
      ></span
    ></span>
</footer>
