---
---

<style>
  footer {
    background-color: var(--dark-purple);
    color: white;
    padding: 20px 0;
    display: flex;
    justify-content: center;
  }
  #grid {
    display: flex;
    max-width: 350px;
    gap: 8px;
    justify-content: center;
    flex-wrap: wrap;
  }
</style>

<footer>
  <div id="grid">
    <span
      ><a href="mailto:ukfriendsofstandingtogether@gmail.com"
        >ukfriendsofstandingtogether@gmail.com</a
      ></span
    >
    <span
      ><a href="https://twitter.com/omdimbeyachadUK">@omdimbeyachadUK</a></span
    >
    <span><a href="https://twitter.com/omdimbeyachad">@omdimbeyachad</a></span>
    <span
      ><a href="https://www.standing-together.org/en">standing-together.org</a
      ></span
    >
  </div>
</footer>
