---
---

<style>
  header {
    background-color: var(--purple);
    color: white;
    padding: 10px;
    display: flex;
    justify-content: center;
    height: 40px;
  }
  header > div {
    max-width: max(var(--max-w), 100%);
    min-width: min(var(--max-w), 100%);
    justify-content: space-between;
    align-items: center;
    display: flex;
    position: relative;
  }
  #logo {
    position: absolute;
    top: 5px;
    left: 0;
    width: 140px;
    fill: white;
    z-index: 10;
  }
  a {
    text-decoration: none;
    color: inherit;
  }
  #title {
    font-weight: bold;
    font-size: 18px;
  }
  @media (min-width: 900px) {
    #logo {
      display: block !important;
    }
  }
  #logo {
    display: none;
  }
  #socials {
    display: flex;
    gap: 10px;
  }
</style>

<header>
  <div>
    <a href="/"><img id="logo" src="/ukfost-round.webp" /></a>
    <a id="title" href="/">UK Friends of Standing Together</a>
    <div id="socials">
      <a class="logo" href="https://twitter.com/uk_fost">
        <img src="/twitter.svg" alt="twitter" />
      </a>
      <a class="logo" href="https://www.instagram.com/standing.together.uk/">
        <img src="/instagram.svg" alt="instagram" />
      </a>
      <a
        class="logo"
        href="https://www.facebook.com/people/UK-Friends-of-Standing-Together/61554352613600/"
      >
        <img src="/facebook.svg" alt="facebook" />
      </a>
    </div>
  </div>
</header>
