---
---

<style>
  header {
    background-color: var(--purple);
    color: white;
    padding: 10px;
    display: flex;
    justify-content: center;
    height: 40px;
  }
  header div {
    max-width: max(var(--max-w), 100%);
    min-width: min(var(--max-w), 100%);
    justify-content: center;
    align-items: center;
    display: flex;
    position: relative;
  }
  #logo {
    position: absolute;
    top: 5px;
    left: 0;
    width: 140px;
    fill: white;
    z-index: 10;
  }
  a {
    text-decoration: none;
    color: inherit;
  }
  #title {
    font-weight: bold;
    font-size: 18px;
  }
  #twitter {
    position: absolute;
    right: 0;
    display: flex;
  }
  @media (min-width: 500px) {
    #twitter,
    #logo {
      display: block !important;
    }
  }
  #twitter,
  #logo {
    display: none;
  }
</style>

<header>
  <div>
    <a href="/"><img id="logo" src="/inverted.webp" /></a>
    <a id="title" href="/">UK Friends of Standing Together</a>
    <a id="twitter" href="https://twitter.com/omdimbeyachadUK"
      ><img src="/twitter.svg" alt="@omdimbeyachadUK" /></a
    >
  </div>
</header>
