---
export interface Props {
  data: any;
}

const { data } = Astro.props as Props;
---

<style>
  article {
    background-color: #f4f4f4;
    border-radius: 8px;
    margin-bottom: 12px;
    padding: 2px 8px;
  }
  article:hover {
    background-color: #e9e9e9;
  }
  a {
    text-decoration: none;
  }
</style>

<a href={"/" + data.slug}>
  <article>
    <h3 set:html={data.title} />
    <p set:html={data.excerpt} />
  </article>
</a>
