---
export interface Props {
  data: any;
}

const { data } = Astro.props as Props;
---

<style></style>

<article>
  <a href={"/" + data.slug}>
    <h3 set:html={data.title} />
    <p set:html={data.excerpt} />
  </a>
</article>
