---
export interface Props {
  username: string;
}

const { username } = Astro.props as Props;
---

<div>
  <a
    class="twitter-timeline"
    data-height="998"
    href={`https://twitter.com/${username}?ref_src=twsrc%5Etfw`}
  >
    Tweets by {username}
  </a>
</div>
